lang/haskell/*.o
lang/haskell/*.hi
lang/haskell/a.out
lang/haskell/test.hs
lang/php/test.php
lang/javascript/test.js
lang/python/test.py
*.pyc
*.hi
*.o
TAGS
.DS_Store
/lang/haskell/Tree
/lang/haskell/ctags.log
lang/php/simpletest
/lang/haskell/sugoih/eight/io
/lang/haxe/*.js*
