.links {
/* 	background-color: pink; */
}
.links .hintKey {
	display: inline;
	width: 20px;
	padding: 3px;
	background-color: #111;
	color: white;
	font-size: small;
	text-align: center;
	z-index:10;
}