.links {
/* 	background-color: pink; */
}
.links .hintKey {
	display: inline;
	width: 20px;
	padding: 3px;
	background-color: #111;
	color: white;
	font-size: small;
	text-align: center;
	z-index:10;
}
#selectorConsole {
	z-index: 10;
	background-color: #000;
	opacity: 0.9;
	color: #fff;
	position: fixed;
	top: 30px;
	left: 30px;
	width: 90%;
}
#selectorConsole td {
	padding: 5px;
	color: #fff;
}
